mixin content 
  .content 
    img.content__image(src="./assets/images/image-web-3-mobile.jpg" alt="poster")
    .content__box
      h1.content__header The Bright Future of Web 3.0?
      .content__aside
        p.content__text 
          | We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
          | But is it really fulfilling its promise?
        a.content__link(href="#!" aria-label="read more")
          .content__button read more