@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$orangeSoft: hsl(35, 77%, 62%);
$redSoft: hsl(5, 85%, 63%);

$white: hsl(36, 100%, 99%);
$grayBlue: hsl(233, 8%, 79%);
$grayBlueDark: hsl(236, 13%, 42%);
$blueDark: hsl(240, 100%, 5%);

$font-size: 0.938rem;