@import './vars';
@import '../components/aside/aside';
@import '../components/content/content';
@import '../components/footer/footer';
@import '../components/header/header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: $font-size;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.component {
  padding: 1rem 1rem 3rem;
}

@media (min-width: 754px) {

  .component {
    display: grid;
    grid-template-areas: "header header header" "main main aside" "footer footer footer";
    column-gap: 1.5rem;

    &__header {
      grid-area: header;
    }

    &__main {
      grid-area: main;
    }

    &__aside {
      padding-top: 2rem;
    }

    &__footer {
      grid-area: footer;
    }
  }


}